@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    font-family: 'Raleway', sans-serif;
}

::-webkit-scrollbar{
    width: 7px;
}

::-webkit-scrollbar-track{
    background-color: rgba(0, 0, 0, 0.35);
}

::-webkit-scrollbar-thumb{
    background-color: #5e43f3;
    margin: 2px;
    border-radius: 20px;
}

.active{
    border-bottom-width: 3px;
    border-color: #382bf0;
    color: #382bf0;
    /* font-weight: 500; */
}

.projectCard{
    box-shadow: 2px 2px 30px #0000006e;
}
.skillCard{
    box-shadow: 1px 1px 7px #000000a9;
}

.dark{
    .projectCard{
        box-shadow: 2px 2px 20px #00000096, -2px -2px 20px #00000096;
    }
    .skillCard{
        box-shadow: 2px 2px 10px #000000;
    }
    .active{
        /* color: #ba9ffb; */
        color: #382bf0;
    }
    ::-webkit-scrollbar-track{
        background-color: #081322;
    }
}



/* .content-div{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 250px;
} */

/* .content-div:hover {
    background-image: linear-gradient(
        to right,
        rgba(112, 157, 255, 0.8),
        hsla(242, 74%, 61%, 0.8)
    )!important;
} */